<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Topic and document browser</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"/>
</head>
<body>
    <div id="navigation">
        <select onChange="window.location.href=((this.value == 'topics') ? 'topic_cloud.html' : 'vocabulary.html')">
            <option selected="selected" disabled="disabled">Overview</option>
            <option>topics</option>
            <option>vocabulary</option>
        </select>
        -
        <select onChange="window.location.href='../topic/'+this.value+'.html'">
            <option selected="selected" disabled="disabled">Details about a topic</option>
            {% for i in topic_ids %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="header">
        <h1>Topic and document browser</h1>
        <a href="https://github.com/AdrienGuille/TopicModeling">Built with https://github.com/AdrienGuille/TopicModeling</a>
    </div>
</body>