<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Vocabulary</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"/>
</head>
<body>
    <div id="navigation">
        <select onChange="window.location.href=((this.value == 'topics') ? 'topic_cloud.html' : 'vocabulary.html')">
            <option selected="selected" disabled="disabled">Overview</option>
            <option>topics</option>
            <option>vocabulary</option>
        </select>
        -
        <select onChange="window.location.href='topic/'+this.value+'.html'">
            <option selected="selected" disabled="disabled">Details about a topic</option>
            {% for i in topic_ids %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="header">
        <h1>Vocabulary</h1>
        Number of words : {{ vocabulary_size }}
    </div>
    <div id="wrap">
    {% for vocabulary in splitted_vocabulary %}
        <div id="five_columns">
            <ul>
                {% for indexed_word in vocabulary %}
                    <li><a href="word/{{ indexed_word[0] }}.html">{{ indexed_word[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</body>